p {
    color:blue;
}
h3 {
    color:blueviolet;
}
#identificator {
    color:brown;
}
.article-title {
    color:chartreuse
}
.news-card .text {
    color:cadetblue;
  }
.aaa.bbb {
    color:crimson;
}
 .text-oc {
    color: deeppink;
 }
 blockquote[cite] {
    background-color:gold;
    color:magenta;
  }
  [lang|="en"] {
    color:yellowgreen;
  }
  span {
    background-color:darkgray;
  }