@import url('../fonts/font.css');
@import url('./common.css');

.header {
    background-color: var(--color-darkgrey);
}
.header .upper-line .navigation {
    padding-top: 79px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 26px;
    gap: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.1em;
    color: black;
}
.nav-link1 {
color: var(--color-blue);
}

.first-section {
    background-color: var(--color-darkgrey);
    padding-bottom: 141px;
}
.main-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    padding-top: 151px;
    padding-bottom: 0;
    color: black;
}
.first-section .description {
    padding-top: 60px;
    padding-bottom: 65px;
    max-width: 540px;
    color:#727272;
}
.first-section .btn {
background: var(--color-blue);
    text-align: center;
    letter-spacing: 0.1em;
    color: white;
    min-width: 225px;
    cursor: pointer;
    color: inherit;
    padding: 20px 41px;
    
}
.about-me {
    background: var(--color-lightgrey);
}
.about-me .wrapper {
    padding-top: 112px;
    padding-bottom: 50px;
    }
.about-me .section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    color: black;
}
.about-me .description {
max-width: 540px;
color: #727272;
margin-left: auto;
margin-right: auto; 
text-align: center;
padding-bottom: 100px;
}
.numbers {
    background-color: var(--color-blue);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.numbers .wrapper {
        background: var(--color-blue);
        }
.card .numbers {
    display: inline-block;
    width: 10;
    height: 3.57;
}
.card1 + .card2 {
    margin-left: 30px;
}
.card2 + .card3 {
    margin-left: 30px;
}
.card3 + .card4 {
    margin-left: 30px;
}
.card4 + .card5 {
    margin-left: 30px;
}
.card5 + .card6 {
    margin-left: 30px;
}

.how-do-i-work {
    background-color: var(--color-lightgrey);
}
.how-do-i-work .wrapper {
    padding-top: 100px;
    padding-bottom: 50px;
    }
.how-do-i-work .section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: black;
}
.how-do-i-work .description {
max-width: 540px;
color: #727272;
margin-left: auto;
margin-right: auto; 
text-align: center;
padding-bottom: 57px;
}
.image-video {
    max-width: 1110px;
    padding-bottom: 100px;
    }
.footer {
    background-color: var(--color-blue);
    
}    

.footer .author {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 24.6px;
    color: #FFFFFF;  
}

.footer .copyright {
padding-bottom: 50px;
font-size: 13px;
line-height: 21px;
color: #FFFFFF;  
        }
.container {
    width: 100%;
    max-width: calc(1110px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

